/**
 * @description 通用样式
 * @Auth sonders
 * @Date 2021-11-27 14:12:11
 */
#components-layout-demo-responsive {
    height: 100vh;
    font-size: 2em;
    font-family: "shouxieti01";
    font-style: normal;
    overflow: hidden;

    .header {
        height: 60px;
        background: #399ee5;
        color: #fff;

        .header_main {
            .aboutMe {
                font-size: 1em;
            }
        }

        .select {
            user-select: none;
        }

        .cursor {
            cursor: pointer;
        }
    }

    .content {
        flex: 1;
        overflow: auto;

        .content_main {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            // background: #fff;
            overflow: auto;

            .pagination {
                height: 40px;
            }
        }

        .content_main_about {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            // flex-direction: column;
            // background: #fff;
            overflow: auto;

        }

        .hoverable_m_avtor {
            display: none;
        }

        .desc_txt {
            padding: 30px;
        }

        .content_main::-webkit-scrollbar {
            display: none;
        }
    }

    // #399ee5
    .footer {
        height: 60px;
        text-align: center;
        line-height: 0;
        background: #399ee5;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 20px;
    }
}

@media screen and (min-width: 300px) and (max-width: 650px) {
    #components-layout-demo-responsive .content .content_main {
        width: auto;
    }

    #components-layout-demo-responsive .header {
        width: auto;
    }

    #components-layout-demo-responsive .content_main_about {
        align-items: center !important;
        flex-direction: column !important;

        .hoverable_pc_avtor {
            display: none;
        }

        .hoverable_m_avtor {
            display: block;
        }

    }


}


@media screen and (min-width: 650px) and (max-width: 1210px) {
    .hoverable_pc_avtor {
        display: none;
    }

    #components-layout-demo-responsive .content_main_about {
        flex-direction: column !important;

        .hoverable_m_avtor {
            display: block;
        }
    }

}

@media screen and (min-width: 650px) and (max-width: 1200px) {
    #components-layout-demo-responsive .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #components-layout-demo-responsive .content .content_main {
        width: 70%;
    }


    #components-layout-demo-responsive .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #components-layout-demo-responsive .header_main {
        width: 70%;
    }

    #components-layout-demo-responsive .content_main_about {
        width: 70%;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
    #components-layout-demo-responsive .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #components-layout-demo-responsive .content .content_main {
        width: 50%;
    }

    #components-layout-demo-responsive .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #components-layout-demo-responsive .header_main {
        width: 50%;
    }


    #components-layout-demo-responsive .content_main_about {
        width: 50%;
        align-items: flex-start;
    }
}