#components-layout-demo-responsive {
    height: 100vh;
    font-size: 2em;
    font-family: "shouxieti01";
    font-style: normal;

    .header {
        height: 60px;
        background: #c4e4ff;
    }

    .content {
        flex: 1;

        .content_main {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            // background: #fff;
            overflow: auto;

            .pagination {
                height: 40px;
            }
        }

        .content_main::-webkit-scrollbar {
            display: none;
        }
    }

    // #399ee5
    .footer {
        height: 60px;
        text-align: center;
        line-height: 0;
        background: #399ee5;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 20px;
    }
}

@media screen and (min-width: 300px) and (max-width: 650px) {
    #components-layout-demo-responsive .content .content_main {
        width: auto;
    }
}

@media screen and (min-width: 650px) and (max-width: 1200px) {
    #components-layout-demo-responsive .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #components-layout-demo-responsive .content .content_main {
        width: 70%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
    #components-layout-demo-responsive .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #components-layout-demo-responsive .content .content_main {
        width: 50%;
    }
}